<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo-rights-group wow animate__fadeInUp">
      <div class="logo footer-logo">macaroons</div>
      <div class="footer-logo-rights">Все права защищены, 2020</div>
    </div>
    <div class="footer-message wow animate__fadeInUp">
      <a href="#" class="footer-message-icon">
        <img src="../assets/images/instagram.png" alt="instagram" />
      </a>
      <div class="footer-message-text">Мы в Instagram</div>
    </div>
    <div class="footer-number wow animate__fadeInUp">
      <span>+375 (29) 368-98-68</span>
    </div>
  </div>
</footer>
