@import '../../../variables.scss';

.header {
  position: fixed;
  z-index: 99909999;
  width: 100%;
  padding: 36px 0 29px 0;
  background: $background-primary;

  .header-container {
    position: relative;
    @include flex-box();

    .menu-list {
      flex-flow: row nowrap;
      width: 314px;
      list-style: none;
      @include flex-box();

      .menu-item {
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
        transition: all 0.5s ease;

        a {
          color: rgb(119, 11, 29);
          font-family: $font-medium;
          font-size: 14px;
          text-decoration: none;
        }
        &:hover {
          border-bottom: 2px solid $link-hover;
        }
      }
    }

    .header-number {
      color: $text-color-white;
      font-family: $font-bold;
      font-size: 16px;
    }
  }
}

.header-burger {
  display: none;
}

.menu-close {
  display: none;
}