<app-header [numberPhone]="numberPhone |customPhonePipe"></app-header>
<main class="main">
  <div class="container main-container">
    <div class="main-info wow animate__backInLeft">
      <div class="main-info-title">Мягкие французские пироженки Macaroons</div>
      <div class="main-info-description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками Macaroon!
      </div>
      <div class="main-info-action">
        <button class="button main-button" (click)="clickScrollTo(products)" button-hover>
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main-image wow animate__backInRight">
      <img src="../assets/images/main-macaroon.png" alt="macaroons" />
    </div>
  </div>
</main>

<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-block-top">
      <div class="advantages-info wow animate__backInLeft">
        <div class="advantages-info-title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </div>
        <div class="advantages-info-description">
          Все пироженки мы готовим только из натуральных и качественных
          продуктов, без консервантов, ароматизаторов, красителей. Используем в
          приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages-image wow animate__backInRight">
        <img src="../assets/images/small-macaroon.png" alt="macaroon" />
      </div>
    </div>

    <div class="advantages-numbers wow animate__backInUp">
      <app-advantage
        
        *ngFor="
          let advantage of advantagesItems;
          let i = index;
          trackBy: trackByAdvantage
        "
        [advantage]="advantage"
        [index]="i"
      >
      </app-advantage>
    </div>
  </div>
</section>

<section class="products" id="products" #products>
  <div class="container products-container">
    <div class="products-title wow animate__fadeInUp">
      Выберите свой макарун
    </div>
    <div class="products-items">
      <app-product
        class="product-item wow animate__fadeInUp"
        *ngFor="
          let macaroon of macaroonsItems;
          let i = index;
          trackBy: trackByMacaroons
        "
        [macaroon]="macaroon"
        [index]="i"
        (addProductEvent)="addMacaroons($event, order)"
      ></app-product>
    </div>
  </div>
</section>

<section class="order" id="order" #order>
  <div class="container order-container">
    <img
      src="../assets/images/strawberry.png"
      alt="strawberry"
      class="strawberry-one"
    />
    <div class="order-image wow animate__bounceInLeft">
      <img src="../assets/images/macaroon.png" alt="macaroon" />
    </div>
    <div class="order-success wow animate__fadeInUp" style="display: none">
      Спасибо за Ваш заказ. Мы скоро свяжемся с Вами!
    </div>
    <div class="order-info wow animate__bounceInUp">
      <div class="order-info-title">Закажите макарун!</div>
      <div class="order-info-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <div class="order-info-choice">
        <div class="order-info-choice-title">Ваш выбор</div>
        <div class="error error-product">заполните выбор</div>
        <input
          type="text"
          placeholder="Напишите, что хотите заказать..."
          class="input order-info-input"
          [(ngModel)]="formValues.macaroonTitle"
        />
      </div>
      <div class="order-info-form">
        <div class="order-info-title-form">Заполните данные для заказа</div>
        <div class="error error-name">заполните имя</div>
        <input
          type="text"
          placeholder="Ваше имя"
          class="input order-form-input-name"
          [(ngModel)]="formValues.name"
        />
        <div class="error error-number">заполните телефон</div>
        <input
          type="text"
          placeholder="+375 (__) ___ - __ - __"
          class="input order-form-input-number"
          [(ngModel)]="formValues.phone"
        />
        <button
          class="button button-order-form"
          type="button"
          (click)="CreateOrder()"
          button-hover
        >
          Оформить заказ
        </button>
      </div>
    </div>
    <img
      src="../assets/images/strawberry-2.png"
      alt="strawberry"
      class="strawberry-two"
    />
  </div>
</section>
<app-footer [numberPhone]="numberPhone |customPhonePipe"></app-footer>
<app-gift-box></app-gift-box>

<div class="loader-block">
  <span class="loader"></span>
</div>
