<app-header  [numberPhone]='numberPhone'></app-header>
<main class="main">
  <div class="container main-container">
    <div class="main-info wow animate__backInLeft">
      <div class="main-info-title">Мягкие французские пироженки Macaroons</div>
      <div class="main-info-description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками Macaroon!
      </div>
      <div class="main-info-action">
        <button class="button main-button" (click)="clickScrollTo(products)">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="main-image wow animate__backInRight">
      <img src="../assets/images/main-macaroon.png" alt="macaroons" />
    </div>
  </div>
</main>

<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-block-top">
      <div class="advantages-info wow animate__backInLeft">
        <div class="advantages-info-title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </div>
        <div class="advantages-info-description">
          Все пироженки мы готовим только из натуральных и качественных
          продуктов, без консервантов, ароматизаторов, красителей. Используем в
          приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
          разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages-image wow animate__backInRight">
        <img src="../assets/images/small-macaroon.png" alt="macaroon" />
      </div>
    </div>

    <div class="advantages-numbers wow animate__backInUp">
      <div
        class="advantages-number"
        *ngFor="let advantage of advantagesItems; let i = index; trackBy:trackByAdvantage"
      >
        <div class="advantages-number-circle">{{ i + 1 }}</div>
        <div class="advantages-number-title">{{ advantage.title }}</div>
        <div class="advantages-number-description">
          {{ advantage.text }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products" id="products" #products>
  <div class="container products-container">
    <div class="products-title wow animate__fadeInUp">
      Выберите свой макарун
    </div>
    <div class="products-items">
      <div
        class="product-item wow animate__fadeInUp"
        *ngFor="let macaroon of macaroonsItems; let i = index; trackBy:trackByMacaroons"
      >
        <div class="product-item-image">
          <img
            src="../assets/images/{{ macaroon.image }}"
            alt="macaroon {{ i + 1 }}"
          />
        </div>

        <div class="product-item-title">{{ macaroon.title }}</div>
        <div class="product-item-group">
          <div class="product-item-info">
            <div class="product-item-quantity">{{ macaroon.counts }} шт.</div>
            <div class="product-item-price">{{ macaroon.price }} руб.</div>
          </div>
          <div class="product-action">
            <button
              class="button button-product-item"
              (click)="addMacaroons(macaroon.title, order)"
            >
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" id="order" #order>
  <div class="container order-container">
    <img
      src="../assets/images/strawberry.png"
      alt="strawberry"
      class="strawberry-one"
    />
    <div class="order-image wow animate__bounceInLeft">
      <img src="../assets/images/macaroon.png" alt="macaroon" />
    </div>
    <div class="order-success wow animate__fadeInUp" style="display: none">
      Спасибо за Ваш заказ. Мы скоро свяжемся с Вами!
    </div>
    <div class="order-info wow animate__bounceInUp">
      <div class="order-info-title">Закажите макарун!</div>
      <div class="order-info-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <div class="order-info-choice">
        <div class="order-info-choice-title">Ваш выбор</div>
        <div class="error error-product">заполните выбор</div>
        <input
          type="text"
          placeholder="Напишите, что хотите заказать..."
          class="input order-info-input"
          [(ngModel)]="formValues.macaroonTitle"
        />
      </div>
      <div class="order-info-form">
        <div class="order-info-title-form">Заполните данные для заказа</div>
        <div class="error error-name">заполните имя</div>
        <input
          type="text"
          placeholder="Ваше имя"
          class="input order-form-input-name"
          [(ngModel)]="formValues.name"
        />
        <div class="error error-number">заполните телефон</div>
        <input
          type="text"
          placeholder="+375 (__) ___ - __ - __"
          class="input order-form-input-number"
          [(ngModel)]="formValues.phone"
        />
        <button
          class="button button-order-form"
          type="button"
          (click)="CreateOrder()"
        >
          Оформить заказ
        </button>
      </div>
    </div>
    <img
      src="../assets/images/strawberry-2.png"
      alt="strawberry"
      class="strawberry-two"
    />
  </div>
</section>
<app-footer [numberPhone]='numberPhone'></app-footer>
<div class="body-gifts" (click)="clickGif()">
  <div *ngIf="showPresent" class="gift-text-block">
    <div class="main-block-figure">
      <span>Оформите заказ</span>
      <span>и получите подарок!</span>
    </div>
    <div class="addition-figure">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="18px"
        height="28px"
      >
        <path
          fill-rule="evenodd"
          stroke="rgb(119, 10, 29)"
          stroke-width="2px"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          fill="rgb(254, 239, 238)"
          d="M15.508,13.401 L1.692,25.264 L1.692,1.538 L15.508,13.401 Z"
        />
      </svg>
    </div>
    <div class="addition-figure-two">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="18px"
        height="28px"
      >
        <path
          fill-rule="evenodd"
          stroke="rgb(119, 10, 29)"
          stroke-width="2px"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          fill="rgb(254, 239, 238)"
          d="M15.508,13.401 L1.692,25.264 L1.692,1.538 L15.508,13.401 Z"
        />
      </svg>
    </div>
  </div>
  <div class="image-fon">
    <img src="../assets/images/gift.png" alt="gift" class="box-gift" />
  </div>
</div>

<div class="loader-block">
  <span class="loader"></span>
</div>
